plugins {
    id 'com.android.application'
}

android {
    namespace 'com.custom.keyboard'
    compileSdk 33

    defaultConfig {
        applicationId "com.custom.keyboard"
        minSdk 21
        targetSdk 33
        versionCode 1
        versionName "1.0"
    }
}

dependencies {
    implementation 'androidx.appcompat:appcompat:1.6.1'
    implementation 'com.google.android.material:material:1.9.0'
}
